
/* Globales */
*{
    margin:0px; 
    padding: 0px;
}
html{
    font-size: 62.5%;
    
}



/* Titulo Principal */

.background{
    background-color: #000000;
    width: 100%;
}

h1{
    color: #fff;
    font-size: 3.5rem;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
}

h2{
    margin: 2rem auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    width: auto;
    font-weight: 200;
}



.contenedor_hijo h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    margin: 1.5rem auto;
    color: #000000;
    font-weight: 700;
}

.contenedor_hijo {
    width: 90%;
    margin: auto;
    align-items: center;
}

.contenedor_hijo p {
    text-align: center;        
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}

/* Main */

@media  (min-width: 768px){

    .titulo {
        margin-bottom: 5rem;
        font-size: 10rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }
    
    h1{
        font-family: 'Lato', sans-serif;
    }

    .grid {
        margin: auto;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    
    }
    
    .contenedor {
        margin: 5em;
        width: 150rem;
        margin: auto;
    }

    .contenedor_hijo {
        margin:auto;
        align-items: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    h2 {
        color: #000000;
        font-family: 'Lato', sans-serif;
        width: 45rem;
        font-size: 2.2rem;
       
    }
    
     h3 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        font-family: 'Lato', sans-serif;
        align-items: center;
        
    }
    
    .contenedor_hijo img{
        height: 40rem;
        width: 50rem;
    }
    
    .contenedor_hijo p{
        width: 30rem;
        font-size: 1.6rem;
        color: #000000;
        font-family: 'Lato', sans-serif;
        align-items: center;
        margin: 1rem auto;
    
    }

    /* Footer */

    .footer{
        background-color:#000000 ;
        line-height: 3;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .footer p{
        font-size: 1.4rem;
        text-align: center;
        color: #fff;
        font-family: 'Lato', sans-serif;

    }
}



.footer{
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}





